/* ------------------ All Document -------------------- */
.main-content{
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1310px;
}


/* ------------------ Navigation -------------------- */
.custom-nav {
  background-color: #f72210;
  width: 100%;
  box-sizing: border-box;
}

.custom-nav-logo {
  width: 100%;
}

.custom-navbar-subscribe {
  color: #f72210;
  font-weight: bold;
}

.custom-navbar-login {
  font-weight: bold;
}

.custom-navbar-toggler {
  border: none;
}