/* ------------------ All Document -------------------- */
.main-content{
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1310px;
}


/* ------------------ Navigation -------------------- */
.custom-navbar-row-top {
  background-color: #f72210;
  z-index: 1;
}

.custom-navbar-subscribe {
  color: #f72210;
  font-weight: bold;
}

.custom-navbar-login {
  font-weight: bold;
}

.custom-navbar-toggler {
  border: none;
}

.custom-navbar-links-container {
  background-color: white;
  width:100%;
}

.navbar-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.custom-nav-detail {
  position: relative;
  bottom: 1.5rem;
  z-index: 0;
  /* margin-top: -1.5rem;
  margin-right: -1.5rem; */
}

.navbar-link {
  white-space: nowrap;
}

.navbar-date {
  color:white;
  font-weight: 100;
}

.custom-nav-bar-top-left {
  margin-right: -5rem;
}



