/* ------------------ All Document -------------------- */
.main-content{
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1310px;
}


/* ------------------ Navigation -------------------- */
.custom-navbar-row-top {
  background-color: #f72210;
  z-index: 1;
}

.custom-navbar-subscribe {
  color: #f72210;
}

.custom-nav-detail {
  position: relative;
  bottom: 1.5rem;
  z-index: 0;
}

.navbar-link {
  white-space: nowrap;
}

.custom-nav-bar-top-left {
  margin-right: -5rem;
}



